table {
    table-layout: auto;
    border-style: solid;
    
}
thead td {
    border-style: solid;
    text-emphasis: circle;
    padding: 10px;
    font-weight: bold;
}
td {
    text-align: center;
}

td[contenteditable="true"] {
    background-color: lavender;
}


